    <td>
      <%
        if tweet.created_at %>
        <% if tweet.created_at > Time.now.beginning_of_day %>
        <%= "#{ time_ago_in_words(tweet.created_at) } ago" %>
        <% else %>
        <%= tweet.created_at.strftime("%b %d, %Y") %>
        <% end
        else %>
        &nbsp;
        <% end %>
    </td>
