<tr>
  <td><%= tweet.status %></td>
  <%= render partial: 'tweets/post_time', locals: { tweet: tweet } %>
  <td>
    <%= link_to 'Delete', [tweet.zombie, tweet],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>        
  </td>
</tr>
